---
import { getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import BlogCard from '../../components/BlogCard.astro';
import Footer from '../../components/Footer.astro';
import Header from '../../components/Header.astro';
import { SITE_DESCRIPTION } from '../../consts';

const posts = (await getCollection('blog')).reverse();
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title="Abelfubu - Blog" description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="mb-16">
      <section>
        <h1>Blog Archive</h1>
        <ul class="flex flex-col gap-8">
          {posts.map((post) => <BlogCard post={post} />)}
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
