---
import HeaderLink from './HeaderLink.astro';
import SocialMedia from './SocialMedia.astro';

const links = [
  { id: 2, text: 'Blog', url: '/blog' },
  { id: 1, text: 'About', url: '/' },
];
---

<header class="flex justify-between items-center py-4 md:py-8">
  <a href="/">
    <img
      src="/images/abelfubu.svg"
      alt="Abelfubu logo"
      class="w-24 cursor-pointer"
      height="48"
      width="48"
      [routerLink]="['/']"
    />
  </a>

  <nav class="flex">
    <ul class="flex list-none items-center gap-4">
      {
        links.map((link) => (
          <HeaderLink href={link.url}>{link.text}</HeaderLink>
        ))
      }
    </ul>

    <SocialMedia />
  </nav>
</header>
